<form action="/" method="post">
  <div class="container">

    <label for="name">Name of Exercise:</label>
    <input id="name" type="text" name="name">
    <br>
    <label for="reps">Number of Reps:</label>
    <input id="reps" type="text" name="reps">
    <br>
    <label for="weight">Weight:</label>
    <input id="weight" type="text" name="weight">
    <br>
    <label for="dateOccured">Date:</label>
    <input id="dateOccured" type="text" name="dateOccured">
    <br>
  </div>
    <input type="radio" name="lbs" value=1 checked>lbs<br>
    <input type="radio" name="lbs" value=0>kg<br>
    <br>    
    <input type="submit" name="add">
</form>

<p>Context Results {{this.results}}</p>

{{#if this.results}}
  <p>Your Exercises:</p>  
  <ul>
    <p>{{this.results}}
    {{#each this.results}}
      <li>
        <h3>Exercise: {{this.results.name}} Reps: {{this.results.reps}} Weight: {{this.results.weight}} Date:{{this.results.data}} lbs: {{this.results.lbs}}</h3>
        <form method="post">
          <input type="hidden" name="id" value="{{this.id}}">
          <input type="submit" name="Delete" value="Delete">
        </form>
      </li>
    {{/each}}
  </ul>
{{/if}}